.home-container 
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column


.home-container 
    h1 
        margin-bottom: 0.5em
        padding-top: .5em
table
    border: 1px solid #777
    padding: .6em
    th
        padding: .6em
    td
        padding: .6em