<div class="home-container">
    <h1>Produtos x Fornecedores</h1>    
    <div>
        <table class="table table-light table-striped">
            <thead>
                <th *ngFor="let column of columns$ | async">
                    <tr class="cabecalho-tabela" (click)="sort(column)">{{ column | uppercase }}
                        <span *ngIf="key == column">{{reverse ? '▲' : '▼'}}</span>
                    </tr>
                </th>
            </thead>
            <tbody>
                <tr *ngFor="let row of rows$ | async | orderBy: key : reverse; let i = index">
                    <td *ngFor="let column of columns$ | async">{{ row[column] }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>