<div class="home-container">
    <h1>Produtos x Fornecedores</h1>
    <div>
        <table class="table table-light table-striped">
            <thead>
                <th *ngFor="let column of columns; index as i">
                    <tr>{{ columns[i] | uppercase }}</tr>
                </th>
            </thead>
            <tbody>
                <tr *ngFor="let row of rows">
                    <td *ngFor="let column of columns">{{ row[column] }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>