<form (ngSubmit)="submit()" [formGroup]="productForm" #formDir="ngForm">
    <h2>Cadastro de novo <span>Produto</span></h2>
    <div class="form-group">
        <label for="name" class="form-label">Nome:</label>
        <input type="text" clas="form-text" placeholder="Digite aqui um nome" formControlName="name" required>

        <div *ngIf="name.invalid && formDir.submitted" class="validation-error">
            <small *ngIf="name.errors?.['required']">{{errorMessage}}</small>
        </div>
    </div>

    <div class="form-group">
        <label for="description">Descrição:</label>
        <input type="text" placeholder="Digite aqui uma descrição" formControlName="description" required>

        <div *ngIf="description.invalid && formDir.submitted" class="validation-error">
            <small *ngIf="description.errors?.['required']">{{errorMessage}}</small>
        </div>
    </div>

    <div class="form-group">
        <label for="price">Preço:</label>
        <input type="text" placeholder="Digite o preço" formControlName="price" required>

        <div *ngIf="price?.invalid && formDir.submitted" class="validation-error">
            <small *ngIf="price?.errors?.['required']">{{errorMessage}}</small>
        </div>
    </div>

    <div class="form-group">
        <label for="quantity">Quantidade:</label>
        <input type="number" placeholder="Digite valor da quantidade" formControlName="quantity" required>

        <div *ngIf="quantity?.invalid && formDir.submitted" class="validation-error">
            <small *ngIf="quantity?.errors?.['required']">{{errorMessage}}</small>
        </div>
    </div>

    <div class="form-group">
        <label for="um">Unidade de medida:</label>
        <input type="text" placeholder="Digite a Unidade de medida" formControlName="um" required>

        <div *ngIf="um?.invalid && formDir.submitted" class="validation-error">
            <small *ngIf="um?.errors?.['required']">{{errorMessage}}</small>
        </div>
    </div>

    <input type="submit" value="{{ btnText }}">
</form>